################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/texttospeechelevenlabnetcore/v17
/.vs
/texttospeechbyelevenlab/.vs/texttospeechbyelevenlab
